<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="appId" value="29840e36-0711-4350-8385-9b3f13954065" />
		<add key="scopes" value="User.Read;Files.ReadWrite;" />
		<add key="username" value="alex1392.mse02@o365.nctu.edu.tw" />
		<add key="password" value="af04051314" />
	</appSettings>
</configuration>